.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    margin: 10% auto;
    border-color: 1px solid var(--primary);
    background-color: var(--primary);
    box-shadow: 10px 5px var(--nav_color);
    padding: 1rem;
}
.about_Img {
    width: 40%;
    opacity: 0.8;
}
.about_Content {
    width: 60%;
    padding: 0.5rem;
}
.about_Content > h1 {
    text-align: center;
    margin-bottom: 1rem;
}
.about_social {
    width: 100%;
}
