.Home_ID {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-image: linear-gradient(
        to right,
        var(--primary),
        var(--background_body)
    );
}
.Home_ID > img {
    width: 50%;
    opacity: 0.7;
}

.Home_ID_Content {
    width: 50%;
    align-self: center;
    text-align: center;
}
.Home_ID_Title > p {
    text-align: center;
    font-size: 1.2em;
}
.Home_ID_Title {
    animation-duration: 2s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: -15%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
.Home_ID_Content button {
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    color: var(--nav_color);
}

.registraion {
    margin-left: 1rem;
    background-color: var(--nav_color);
    color: var(--primary);
    border: 1px solid var(--nav_color);
}
.registraion > a {
    color: var(--primary);
}
.registraion:hover {
    background-color: var(--nav_color);
    color: var(--primary);
}
.login {
    background-color: (var(--background_body));
    color: var(--primary);
    border: 1px solid var(--nav_color);
}
.login:hover {
    background-color: var(--nav_color);
    color: var(--primary);
}
/* Home */
.on-shelf {
    text-align: center;
    margin-bottom: 3%;
}
.on-shelf > h2 {
    font-size: 3em;
    margin: 3% 0%;
}
/*  Card CSS */
.cards-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cards-container > div {
    width: 20%;
}
@media only screen and (min-width: 280px) and (max-width: 500px) {
    .Home_ID > img {
        width: 40%;
    }
    .Home_ID_Content {
        width: 60%;
        padding: 1rem;
    }
    .Home_ID_Content > p {
        font-size: 1em !important;
    }
    .cards-container > div {
        width: 70%;
        margin-bottom: 1rem;
    }
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
    .cards-container > div {
        width: 55%;
        margin-bottom: 1rem;
    }
}
@media only screen and (min-width: 601px) and (max-width: 950px) {
    .cards-container > div {
        width: 30%;
    }
}
